@import "../abstracts/mixins";
@import "../abstracts/variables";

.mask-1 {
  -webkit-mask-image: url(../img/mask-1.svg);
  mask-image: url(../img/mask-1.svg);
  mask-repeat: no-repeat;

  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.decor {
  position: absolute;

  &-1 {
    top: -65px;
    right: 0;
  }

  &-2 {
  }
}

.s-hero {
  background: #030061;
  color: #fff;
  height: 100vh;
  @media (max-width: $breakpoint-md) {
    padding: 85px 0;
    height: auto;
  }

  & .heading {
    margin-bottom: 25px;
    font-size: 50px;

    & span {
      text-transform: uppercase;
      color: $accent-color;

      &:nth-child(1) {
        font-size: 100px;
      }

      &:nth-child(2) {
        font-size: 70px;
        padding-left: 30px;
      }
    }
  }

  & .description {
    margin-bottom: 66px;
    font-size: 18px;
    line-height: 30px;
  }

  & .img {
    height: 100%;
    width: 100%;
    object-fit: cover;


    &__wrap {
      height: 100%;
      width: 50%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      @media (max-width: $breakpoint-md) {
        position: relative;
        width: 100%;
      }

    }
  }
}


.s-about {
  background: rgba(244, 246, 254, 1);
  padding: 111px 0 88px 0;

  & .heading {
  }

  & .description {
    margin: 52px 0;
  }

  & .btn-more {
  }

  & .benefit {
    &__heading {
      margin-bottom: 19px;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 32px;
      }
    }

    &__img {
      &-wrap {
        width: 116px;
        height: 100px;
        box-shadow: 0px 0px 20px 0px rgba(51, 116, 238, 0.2);
        background: rgba(255, 255, 255, 1);

        margin: 0 auto 25px auto;
      }
    }

    &__item {

    }
  }
}

.s-directions {
  padding: 100px 0;
  background: #FFFFFF;

  &.bg {
    background: #F4F6FE;

    &:after {
      content: '';
      width: 100%;
      max-width: 1275px;
      height: 1px;
      background: #D1D5E5;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  & .decor {
    position: absolute;
    bottom: -66px;
    left: -16px;

  }

  &__top {
    margin-bottom: 30px;
  }

  & .company {
    background: $whiteColor;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px transparent;
    border: 1px solid #F4F6FE;
    display: grid;
    grid-template-columns: 175px 1fr;
    gap: 26px;
    @include transition(.5);
    padding: 20px 30px;
    min-height: 185px;

    &:not(&:last-child) {
      margin-bottom: 20px;

    }

    &__name, &__description {
      margin-bottom: 17px;
    }

    &__name {
      font-size: 20px;
    }

    &__logo {
      &-wrap {

      }
    }

    &__web {
      color: #0293ED;

      &:after {
        content: '';
        width: 100%;
        height: 1px;
        background: #0293ED;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        @include transition(.5);
      }

      &:hover {
        &:after {
          width: 0;
        }
      }
    }

    &:hover {
      box-shadow: 0px 0px 20px 0px #3374EE33;
    }
  }
}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* TABS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.tab {
  display: none;
  padding-left: 30px;

  &:nth-child(1) {
    display: block;
  }

  &-nav {
    padding: 60px 30px 60px 0;

  }

  &-item {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 30px;
    color: #000;
    white-space: nowrap;
    cursor: pointer;
    @include transition(.5);

    &:after {
      content: '';
      width: 0;
      height: 4px;
      background: #0293ED;
      position: absolute;
      bottom: -6px;
      left: 0;
      @include transition(.5);
    }

    &:hover, &.active {
      color: #0293ED;

      &:after {
        width: 100%;
      }
    }

    &:not(&:last-child) {
      margin-bottom: 45px;
    }
  }


}






