@import "../abstracts/mixins";
@import "../abstracts/variables";

.s-other {
  height: calc(100vh - 119px);
  @media (max-width: $breakpoint-md) {
    padding: 182px 0;
    margin: 0;
    height: auto;
  }

}

.s-thanks {


  &__description {
    color: #1D1D1B;
  }

  &__heading {
    font-size: 30px;
    margin-bottom: 20px;
  }

  &__description {
    &, & p {

      @include fontSize(18, 22);
      font-weight: 300;
    }

    & p + p {
      margin-top: 20px;
    }
  }

  & .btn {
    margin-top: 20px;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;

    &-wrap {
      position: relative;
      width: 230px;
      height: 164px;
      margin: 0 auto 70px auto;

    }
  }
}

.s-error {
  & .decor {
    position: absolute;
    bottom: -68px;
    z-index: 43534523453;
    left: -7px;
    @media (max-width: $breakpoint-md) {
      width: 129px;
      height: 118px;
      left: -16px;
      bottom: -25px;
    }
  }

  & .btn-primary {
    width: 100%;
    max-width: 308px;
    display: inline-block;
  }

  &__descriptionб &__number {
    @media (max-width: $breakpoint-md) {
      margin-bottom: 55px;
    }
  }

  &__description {
    margin-bottom: 33px;
    line-height: 1.6;
    @include fontSize(18, 22);

  }

  &__number {
    max-width: 559px;
    object-fit: contain;
    margin: 0 auto 38px auto;
    @media (max-width: $breakpoint-md) {
      max-width: 260px;
    }
  }
}