@import "../abstracts/mixins";
@import "../abstracts/variables";

.kama_breadcrumbs {
  @media (min-width: $breakpoint-md) {
    display: flex;
  }
  background-color: transparent;
  padding: 12px 0;
  margin-bottom: 40px;
  color: rgba(159, 159, 159, 1);
  @include fontSize(14, 16);
  line-height: 1.875;
  color: #B0B0B0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  z-index: 2;
  //white-space: nowrap;

  position: relative;
  @include transition(.4);
  overflow: auto;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  @media (max-width: $breakpoint-md) {
    padding: 15px 0;
    margin-bottom: 25px;
  }

  & a {
    color: rgba(159, 159, 159, 1);
    @include fontSize(14, 16);
    line-height: 1.875;
    font-weight: 300;
    position: relative;

  }

  .breadcrumb_last {
    // color: #000;
  }

  & .kb {
    &_title {
      // color: #000;
      //font-weight: 500;
    }

    &_sep {
      margin: 0 7px;
      @media (max-width: $breakpoint-md) {
        margin: 0 4px;
      }
      &:has(+ .kb_title) {
        & i {
          //color: #000;
        }
      }
    }


  }
}
