@import "../abstracts/mixins";
@import "../abstracts/variables";

:root {
 /* --h1: clamp(2.19rem, calc(0.66rem + 3.18vw), 4rem);
  --h2: clamp(1.75rem, calc(0.49rem + 2.63vw), 3.25rem);
  --h3: clamp(1.25rem, calc(0.41rem + 1.75vw), 2.25rem);
  --h4: clamp(1.13rem, calc(0.6rem + 1.1vw), 1.75rem);
  --h5: clamp(1.13rem, calc(1.02rem + 0.22vw), 1.25rem);*/
  --h1: 50px;
  --h2: 30px;
  --h3: 20px;
  --h4: 18px;
  --h5: 14px;
}

.editor {
  margin-bottom: 20px;

  &-style {
    font-family: 'Gilroy', sans-serif;
    font-weight: normal;

    & > &:is(h1,h2,h3,h4,h5) + * {
      margin-top: 1em
    }
    .h1,h1 {
      font-size: var(--h1);
      line-height: 1.15em;
      letter-spacing: -.01em
    }

    .h2,h2 {
      font-size: var(--h2);
      line-height: 1.15em;
      letter-spacing: -.01em
    }

    .h3,h3 {
      font-size: var(--h3);
      line-height: 1.25em;
      letter-spacing: -.01em
    }

    .h4,h4 {
      font-size: var(--h4);
      line-height: 1.25em;
      letter-spacing: -.01em
    }

    .h5,h5 {
      font-size: var(--h5);
      line-height: 1.4em;
      letter-spacing: .01em
    }
    & p {
      font-weight: 300;
      @include fontSize(14, 17);
      line-height: 1.6;
      color: #000;

      & + p {
        margin-top: 18px;
      }

      & + ul, & + ol {
        margin-top: 18px;
      }
    }


    & h2, & h3, & h4, & h5, & h6 {
      font-weight: bold;
      margin-bottom: 18px;
      line-height: 1.25;


    }
/*
    & h2 {
      @include fontSize(20, 24);
    }

    & h3 {
      @include fontSize(18, 20);
    }

    & h4 {
      @include fontSize(16, 18);
    }

    & h5 {
      @include fontSize(14, 16);
    }

    & h6 {
      @include fontSize(12, 14);
    }*/

    & a:not(.btn-primary) {
      color: $accent-color;
      text-decoration: none;
      position: relative;
      font-weight: bold;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
        height: 1px;
        background-color: $accent-color;
        @include transition(.3);
      }

      &:hover {
        &:before {
          content: '';
          width: 0;
        }
      }
    }

    & img {
      margin: 0 auto;
      @media (min-width: $breakpoint-lg) {

      }
      @media (max-width: $breakpoint-lg) {
        height: 100%;
        max-height: 400px;
        object-fit: contain;

      }
    }

    & .aligncenter {
      margin: 0 auto;
    }

    & .wp-block-image {

      margin-bottom: 24px;

      & img {
        height: 400px;
        border-radius: 0;
        width: 100%;
        object-fit: cover;
      }

      & figcaption {
        margin: 5px 0 15px 0;
      }
    }

    .wp-block-video {
      video {
        width: 100%;
        max-height: 400px;
        /* object-fit: cover; */
      }
    }

    & ul, & ol {
      margin-bottom: 18px;
      padding-left: 53px;
      list-style-type: none;
      @media (max-width: $breakpoint-md) {
      padding-left: 23px;
    }
      & li {
        font-weight: 300;
        @include fontSize(14, 17);
        line-height: 1.5;
        color: #000;
        position: relative;
        margin-bottom: 20px;

        &::marker {
          display: none;
        }

        &::before {
          content: "";
          width: 5px;
          height: 5px;
          background: $accent-color;
          position: absolute;
          top: 10px;
          left: -23px;
        }
      }
    }

    & ul {
      // list-style: disc;
    }

    & ol {
      list-style: decimal;
    }

    /*  & ul {
        & li {
          &:before {
            content: "";

            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 4px;
            height: 4px;
            border-radius: 100%;

          }
        }
      }

      & ol {
        & li {
          counter-increment: list;

          &:before {
            content: counter(list) ".";
            width: 12px;

            font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1900 - 300)));
            font-weight: 400;
          }
        }
      }*/

    & blockquote {
      padding: 60px 0 0 0px;
      position: relative;
      text-align: center;
      width: 100%;
      margin: 0 auto;
      @media (max-width: $breakpoint-lg) {
        padding: 60px 0 0 0;
        width: 100%;
      }

      &, & p {
        font-size: 18px;
        line-height: 23px;
        font-weight: 400;
      }

      /* &:before {
         content: '';
         width: 78px;
         height: 78px;
         background: url("../img/quote.svg") center center no-repeat;
         background-size: contain;
         position: absolute;
         top: 0;
         left: 50%;
         transform: translate(-50%);
         z-index: -1;
         @media (max-width: $breakpoint-lg) {
           content: '';
           width: 55px;
           height: 55px;
         }
       }*/
    }
  }
}
