@import "../abstracts/mixins";
@import "../abstracts/variables";

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}


input {
  /* -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
 */
  -webkit-border-radius: 0;
}

input, button {
  &:focus {
    outline: none;
  }
}

.form {
  &-heading {
    margin-bottom: 40px;
    font-size: 40px;
  }

  &-control {
    position: relative;
    margin-bottom: 30px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 20px;
    }


    &__input, &__textarea {
      font-family: 'Gilroy', sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.875;
      letter-spacing: 0.05em;
    }

    &__label {
      display: block;
      color: #000;
      font-size: 16px;
      margin-bottom: 10px;
    }

    &__input, &__textarea {
      background: transparent;
      border: none;
      border-radius: 5px;
      border: 1px solid #DDDDDD;
      color: #ADADAD;
      resize: none;
      padding: 9px 20px 9px 20px;
      width: 100%;
    }


    &__btn {
      width: 100%;

      @media (max-width: $breakpoint-md) {

      }
    }

  }
}

::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: #ADADAD;
  font-family: 'Gilroy', sans-serif;
  letter-spacing: 0.05em;
  opacity: 1;
  transition: opacity 0.5s;
}

::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.05em;
  color: #ADADAD;
  font-family: 'Gilroy', sans-serif;

  opacity: 1;
  transition: opacity 0.5s;
}

:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.05em;
  color: #ADADAD;
  font-family: 'Gilroy', sans-serif;

  opacity: 1;
  transition: opacity 0.5s;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.5s;
}

:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.5s;
}

:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.5s;
}

:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.5s;
}

div.wpcf7 .ajax-loader {
  display: none !important;
}


input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: #21242C !important;
  caret-color: $whiteColor;
  -webkit-text-fill-color: #fff !important;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  caret-color: $whiteColor;
  -webkit-text-fill-color: $whiteColor;
  -webkit-box-shadow: 0 0 0px 1000px #21242C inset;
  transition: background-color 5000s ease-in-out 0s;
}


.checkbox-entry {
  position: relative;
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;

  & + .checkbox-entry {
    margin-top: 18px;
  }

  & div {
    display: block;
    width: calc(100% - 33px);

    & span {
      color: $accent-color;
    }
  }

  & input {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    margin: 0;

    &:checked {
      & ~ div {
        text-shadow: 0 0 0 currentColor;
      }

      & + i {
        background: $accent-color;
        border-color: $accent-color;

        &::before {
          opacity: 1;
        }
      }
    }
  }

  & i {
    width: 21px;
    height: 21px;
    border: 1px solid rgba(221, 221, 221, 1);
    background: transparent;

    display: block;
    border-radius: 5px;
    margin-right: 12px;
    position: relative;
    @include transition(.4);

    &::before {
      left: 50%;
      top: 48%;
      position: absolute;
      transform: translate(-50%, -50%);
      opacity: 0;
      font-size: 15px;
      color: #ffffff;
      @include transition(.4);
    }
  }
}