@import "../abstracts/mixins";
@import "../abstracts/variables";

.mb-blog {
  margin-bottom: 70px;
  @media (max-width: $breakpoint-md) {
    margin-bottom: 20px;
  }
}

.s-grid {
  & .img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

    &__wrap {
      position: relative;
      padding-bottom: 100%;
    }
  }
}

.s-image {
  & .img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

    &__wrap {
      position: relative;
      padding-bottom: 62%;
    }
  }
}

.preload {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);


  &__wrap {

    position: relative;
    padding-bottom: 62%;
    overflow: hidden;
    border-radius: 10px;

    & video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: none;
      position: absolute;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    object-fit: cover;
  }

  .btn-play {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 160px;
    height: 160px;
    z-index: 6;
    cursor: pointer;
  }
}

.s-img-text {
  & .img {
    &__wrap {
      border-radius: 10px;
      overflow: hidden;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 25px;
      }
    }
  }

  &__item {
    &:nth-child(odd) {
      padding: 38px 0;
      @media (max-width: $breakpoint-md) {
        padding: 28px 0 35px 0;
      }


    }

    &:nth-child(even) {
      flex-direction: row-reverse;
      padding: 82px 0;
      @media (max-width: $breakpoint-md) {
        padding: 35px 0;
      }

      &:after {
        content: '';
        width: 100vw;
        height: 100%;
        background: linear-gradient(81.5deg, #FFFFFF 21.75%, #E9EAEE 54.83%, #FFFFFF 82.21%);

        position: absolute;
        top: 0;
        left: 0;
        margin-left: calc((-100vw + 100%) / 2);
        z-index: -1;
      }
    }
  }
}

.s-video {
  &__item {
    &:nth-child(odd) {
      padding: 82px 0;
      @media (max-width: $breakpoint-md) {
        padding: 28px 0 35px 0;
      }

      &:after {
        content: '';
        width: 100vw;
        height: 100%;
        background: linear-gradient(81.5deg, #FFFFFF 21.75%, #E9EAEE 54.83%, #FFFFFF 82.21%);

        position: absolute;
        top: 0;
        left: 0;
        margin-left: calc((-100vw + 100%) / 2);
        z-index: -1;
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
      padding: 38px 0;
    }
  }

  & .btn-pulse {
    bottom: 50px;
    right: 50px;
    @media (max-width: $breakpoint-md) {
      right: auto;
      bottom: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  }
}

.s-download {
  padding: 84px 0;
  background: linear-gradient(81.5deg, #FFFFFF 21.75%, #E9EAEE 54.83%, #FFFFFF 82.21%);
  margin-bottom: 68px;
  @media (max-width: $breakpoint-md) {
    text-align: center;
    padding: 38px 0;
    margin-bottom: 34px;
  }

  & .heading {
    @media (max-width: 600px) {
      margin-bottom: 12px;
    }
  }

  & .description {
    @include fontSize(16, 20);
    @media (max-width: $breakpoint-md) {
      margin-bottom: 20px;
    }
  }

  &__inner {
    padding: 20px;
    background-color: #D8D6D1;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    @media (max-width: 600px) {
      text-align: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 32px;
    }
    @media (max-width: 360px) {
      padding: 20px;
    }
  }

}

.s-gallery {
  padding: 38px 0;

  & .column {
    @media (max-width: $breakpoint-md) {
      padding: 0 4px;
    }
  }

  & .m-row {
    @media (max-width: $breakpoint-md) {
      margin: 0 -4px;
    }
  }

  & .img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    &__wrap {
      position: relative;
      padding-bottom: 100%;
      border-radius: 10px;
      overflow: hidden;
    }
  }
}