@import "../abstracts/mixins";
@import "../abstracts/variables";

.footer {

  background: rgba(3, 0, 97, 1);
  position: relative;
  //margin-top: 50px;

  & .logo {
    &__link {
      display: block;
      margin-bottom: 20px;
      @media (max-width: $breakpoint-md) {
        width: 103px;
        margin-bottom: 0;
      }
    }

    &__text {
      color: #ffffff;
      font-size: 20px;
    }

    &__wrap {
      @media (max-width: $breakpoint-md) {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;

        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;

        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        & .copyright {
          font-size: 13px;
          width: calc(100% - 110px);
          text-align: right;
          margin-bottom: 0;
        }
      }
    }
  }


  &-item {
    &:not(&:last-child) {
      @media (max-width: $breakpoint-md) {
        margin-bottom: 0;
      }
    }

    &__heading {
      margin-bottom: 20px;
      color: $accent-color;
      font-size: 18px;
    }
  }

  &__main {
    padding: 32px 0;
  }

  &__bottom {
    padding: 18px 0 36px 0;
    border-top: 1px solid rgba(215, 215, 215, .2);
    @media (max-width: $breakpoint-md) {
      text-align: center;
      padding: 28px 0 49px 0;
      & .align-justify {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
    }


  }

  & .menu {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    @media (max-width: $breakpoint-md) {
      grid-template-columns: 1fr;
      gap: 20px;
      text-align: center;
      margin-bottom: 27px;
    }

    &-item {
      & a {
        @include fontSize(15, 18);
        color: #C1C1C1;
      }

    }
  }

  & .btn-primary {
    margin-top: 45px;
    max-width: 223px;
    @media (max-width: $breakpoint-md) {
      margin: 21px auto 27px auto;
    }
  }

  & .contact {
    @media (max-width: $breakpoint-md) {
      text-align: center;
      margin-top: 24px;
    }

    &-item {
      & + .contact-item {
        margin-top: 35px;
      }

      & a {
        @include fontSize(15, 20);
        line-height: 1;
        color: $whiteColor;
      }
    }
  }

  & .social {
    margin-left: calc(50% + 20px);
    margin-top: -10px;
    @media (max-width: $breakpoint-md) {
      margin: 0;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    &-item {
      & + .social-item {
        margin-left: 27px;
      }

      & a {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: rgba(255, 255, 255, 0.1);

        & i {
          color: $whiteColor;
          @include transition(.4);
        }

        &:hover {
          & i {
            color: rgba(2, 147, 237, 1);
          }
        }
      }
    }
  }

  & .develop {
    @media (min-width: $breakpoint-md) {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
    @media (max-width: $breakpoint-md) {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    &__link, &__text {
      font-size: 18px;
      font-weight: 300;
    }

    &__text {
      color: rgba(255, 255, 255, .6);
    }

    &__link {
      text-transform: uppercase;
      color: rgba(255, 255, 255, 1);
      padding-left: 10px;
    }
  }

  & .copyright {
    @include fontSize(15, 18);
    color: rgba(255, 255, 255, .6);
    @media (max-width: $breakpoint-md) {
      margin-bottom: 24px;
      width: 100%;
    }
  }
}


.top-link {
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 60px;
  right: 60px;
  z-index: 10;
  cursor: pointer;
  border-radius: 10px;
  padding: .25em;
  width: 64px;
  height: 64px;
  background: linear-gradient(88.24deg, #CFCFCF 0%, #938C89 100%);

  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: $breakpoint-md) {
    width: 45px;
    height: 45px;
    right: 15px;
    bottom: 15px;
  }

  &.show {
    visibility: visible;
    opacity: 1
  }

  &.hide {
    visibility: hidden;
    opacity: 0
  }

  & i {
    @include fontSize(16, 24);
    color: #ffff;
  }

  & .screen-reader-text {
    position: absolute;
    clip-path: inset(50%);
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    word-wrap: normal !important;
    clip: rect(1px, 1px, 1px, 1px)
  }

}

